doctype html
html 
	head
		title 文件上传 - PeerToPeer
	body
		form(enctype="multipart/form-data" action="upload/fileupload" method="post")
			input(type="file" name="image")
			input(type="submit" value="上传")